<% if resource.errors.present? %>
  <p>
    <%= t('.header', count: resource.errors.count) %>
  </p>
  <ul>
    <% resource.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>
