<% if resource.errors.present? %>
  <p>
    <%= t('.header', count: resource.errors.count) %>
  </p>
  <% resource.errors.full_messages.each do |err| %>
    <div class="alert alert-danger"><%= err %></div>
  <% end %>
<% end %>
