// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.result {
  &--success {
    color: green;
  }

  &--fail {
    color: red;
  }
}

.test-progress {
  padding: 5px;
  background-color: green;
  border-radius: 5px;
  text-align: right;
  color: #ffffff;
  font-weight: 700;
}
