<footer>
  <p><%= current_year %></p>
  <p>Dmitrii Shakhov</p>
  <p><a href=<%= github_url("shakhov-dmitrii", "test-guru") %> target="_blank">Test guru</a></p>
  <p>Testguru - Приложения для создания и проведения тестов.</p>
  <p><a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
</footer>
